@model IEnumerable<TermProject.Models.Bike>

@{
    ViewData["Title"] = "Index";
}

<h1>Bikes Used</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WheelSize)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WheelSize)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BikeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BikeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BikeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
